@import "theme.css";

/* Side navigation bar color */
.wy-side-nav-search {
    background: #4400ff;
}

/* Fix horizontal scrollbars in tables*/
.wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
        this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

/* These remove the gap on the left, essentially filling the screen with the document */
.wy-table-responsive {
    overflow: visible !important;
}

.wy-nav-content {
    max-width: none;
}


/* Change the literal background color and font color*/
/*code.literal {
    color: #404040 !important;
    background-color: #fbfbfb !important;
}*/


div.leftside {
    width: 43%;
    padding: 0px 3px 0px 0px;
    float: left;
    }

div.rightside {
    margin-left: 45%;
    float: right;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 45%;
    padding: 10px;
    height: 500px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .rst-content .myownstyle .admonition-title {
    background: #b99976
 }
 
 .rst-content .myownstyle {
    background: #e5d3b3
 }

 .rst-content .vincli .admonition-title {
    background: #252525
 }
 
 .rst-content .vincli {
    background: #ffffff
 }

 .rst-content .text .admonition-title {
    background-image: none;
    background: #a34343
 }
 
 .rst-content .text {
    background: #f1f1f1
 }

 /*
 .rst-content .text .admonition-title:before {
    content: "  📖";
}*/
.rst-content .text .admonition-title:before {
    content: "";
}

 /*TEST TABLE. MAY BE GOOD FOR GENERATING STRIPE LOOKING DOCS*/
  /*.response-table th {
    background-color: #cc00ff;
    color: #FFFFFF;
    font-size: 80pt;
    border-style: solid solid solid solid;
    border-width: 1000px 100px 10px 100px;
    border-color: #0000FF;
    text-align: left;
  }*/





/* Change the color/border/text of the tables header row NOTE 
   NOTE: Border options do not currently work */
    /* table th {
    background-color: #cc00ff;
    border-style: solid solid solid solid;
    border-width: 1000px 100px 10px 100px;
    border-color: #0000FF;
    text-align: left;
} */


/* Change the color/border of the cells in a table
   NOTE: This does not currently work */   
/*
   .wy-table-responsive table td {
    border-style: solid solid solid solid;
    border-width: 0px 0px 0px 0px;
    border-color: #fc0000;
}
*/

/* 
.wy-table-responsive table tr {
    border-style: solid solid solid solid;
    border-width: 0px 0px 0px 0px;
    border-color: #A11111;
} */


/* Change the color of even and odd rows in a table */
/* EVEN WORKS */
/* .wy-table-responsive table tr:nth-child(even) { 
    background-color: #020202;
}

.wy-table-responsive table tr:nth-child(odd) { 
    background-color: #2600fd;
}

.table tr:nth-child(odd)>td, .table tr:nth-child(odd)>th {
   background-color: red; 
 } */

/* table tr:nth-child(odd) {
    background-color: #ff0000;
} */





