@import "theme.css";

/* Side navigation bar color */
.wy-side-nav-search {
    background-color: #0aaaF0;
}

/* Fix horizontal scrollbars in tables*/
.wy-table-responsive table td {
    /* !important prevents the common CSS stylesheets from overriding
        this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

.wy-table-responsive {
    overflow: visible !important;
}





